
  
  
    <div class="row">
      <div class="col-lg-12 themed-grid-col">
      
        <buscador
      (pasameFormula) = "recibeFormula($event)"
      (encon) = "encont($event)"
      ></buscador>
      
      
      <ingresa
        [recibecambio] = "camb"
        [formGral] ="formulaBuscada"
        ></ingresa>
      </div>
      
     
     
    
 
    
     
  </div>
  
  
      
        
      
      
  
        
  
        
  
    <!--    ****Buscador****
    
      
     -->
      
    
  


  
  


<!--
<div class="container-fluid">
  <div class="row">
    <!--    ****Buscador****
    <div class="col-sm-1">
      <buscador
      (pasameFormula) = "recibeFormula($event)"
      (encon) = "encont($event)"
      ></buscador>
      
    </div>
  </div>
</div>
<div class="container">
  <edita
  [formGral] ="formulaBuscada"
  [encontrado] ="e"

  ></edita>
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-1">
     <ingresa></ingresa>
    </div>
  </div>
</div>
-->
