<form #agregaForm="ngForm" (ngSubmit)="onSubmit()" class="agregaform">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 align="center">{{title}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col">

        

          <div class="form-label-group">
            <input type="text" name="codigo" #codigo="ngModel" [(ngModel)]="registraFormula.codigo" class="form-control" placeholder="Código" required/>
            <label for="codigo">Código</label>
             <span *ngIf="!codigo.valid && codigo.touched">Código obligatorio</span>
          </div>
          <div class="form-label-group">
            <input type="text" name="lote" #lote="ngModel" [(ngModel)]="registraFormula.lote" class="form-control" placeholder="Lote" required />
            <label for="lote">Lote</label>
            <span *ngIf="!lote.valid && lote.touched">Lote obligatorio </span>
          </div>
          <div class="form-label-group">
            <input type="text" name="viscosidad" #viscosidad="ngModel" [(ngModel)]="registraFormula.viscosidad" class="form-control" placeholder="Vicosidad"/>
            <label for="viscosidad">Vicosidad</label>
          </div>
          <div class="form-label-group">
            <input type="text" name="densidad" #densidad="ngModel" [(ngModel)]="registraFormula.densidad" class="form-control" placeholder="Densidad"/>
            <label for="densidad">Densidad</label>
          </div>
          <div class="form-label-group">
            <input type="text" name="solidos" #solidos="ngModel" [(ngModel)]="registraFormula.solidos" class="form-control" placeholder="Solidos totales"/>
            <label for="solidos">Solidos totales</label>
          </div>
          <div class="form-label-group">
            <input type="text" name="ph" #ph="ngModel" [(ngModel)]="registraFormula.ph" class="form-control" placeholder="PH"/>
            <label for="ph">PH</label>
          </div>
          <div class="form-label-group">
            <input type="text" name="finura" #finura="ngModel" [(ngModel)]="registraFormula.finura" class="form-control" placeholder="Finura"/>
            <label for="finura">Finura</label>
          </div>
          <div class="form-group">
            <label>Color</label>
              <select class="form-control" name="color" #color="ngModel" [(ngModel)]="registraFormula.color" required>
              <option>Ok</option>
              <option>Rechazado tono</option>
              <option>Rechazado velo</option>
              <option>Rechazado apariencia</option>
              </select>
          </div>
          <div class="form-label-group">
            <input type="text" name="poder" #poder="ngModel" [(ngModel)]="registraFormula.poder" class="form-control" placeholder="Poder cubriente"/>
            <label for="poder">Poder cubriente</label>
          </div>
          <div class="form-label-group">
            <input type="text" name="dureza" #dureza="ngModel" [(ngModel)]="registraFormula.dureza" class="form-control" placeholder="Dureza"/>
            <label for="dureza">Dureza</label>
          </div>
          <div class="form-label-group">
            <input type="text" name="brillo" #brillo="ngModel" [(ngModel)]="registraFormula.brillo" class="form-control" placeholder="Brillo"/>
            <label for="brillo">Brillo</label>
          </div>
          <label>Secado tacto</label><!-- empieza la seccion para secado tacto -->
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group">
                <input type="text" name="secadotacto" #secadotacto="ngModel" [(ngModel)]="registraFormula.secadot" class="form-control" placeholder=" -  -"/>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="form-group">
                  <select class="form-control" name="secadotfrec" #secadotfrec="ngModel" [(ngModel)]="secadotf" required>
                  <option>Hr</option>
                  <option>Min</option>
                  </select>
              </div>
            </div>
          </div>
          <label>Secado duro</label><!-- empieza la seccion para secado tacto -->
          <div class="row">
           <div class="col-sm-5">
              <div class="form-group">
                <input type="text" name="secadod" #secadod="ngModel" [(ngModel)]="registraFormula.secadod" class="form-control" placeholder=" -  -"/>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                  <select class="form-control" name="secadotfrecduro" #secadotfrecduro="ngModel" [(ngModel)]="secadotfrecd" required>
                  <option>Hr</option>
                  <option>Min</option>
                  </select>
              </div>
            </div>
        </div>
        </div><!-- acaba la primer columna -->
        <div class="col">
          <div class="form-label-group">
            <input type="text" name="impacto" #impacto="ngModel" [(ngModel)]="registraFormula.impacto" class="form-control" placeholder="Impacto"/>
            <label for="impacto">Impacto</label>
          </div>
          <div class="form-label-group">
            <input type="text" name="adherencia" #adherencia="ngModel" [(ngModel)]="registraFormula.adherencia" class="form-control" placeholder="Adherencia"/>
            <label for="adherencia">Adherencia</label>
          </div>
          <div class="form-label-group">
            <input type="text" name="humedad" #humedad="ngModel" [(ngModel)]="registraFormula.humedad" class="form-control" placeholder="Humedad"/>
            <label for="humedad">Humedad</label>
          </div>
          <div class="form-label-group">
            <input type="text" name="flexibilidad" #flexibilidad="ngModel" [(ngModel)]="registraFormula.flexibilidad" class="form-control" placeholder="Flexibilidad"/>
            <label for="flexibilidad">Flexibilidad</label>
          </div>
          <div class="form-label-group">
            <input type="text" name="peso" #peso="ngModel" [(ngModel)]="registraFormula.peso" class="form-control" placeholder="Peso bote"/>
            <label for="peso">Peso bote</label>
          </div>
          <div class="form-label-group">
            <input type="text" name="compatibilidad" #compatibilidad="ngModel" [(ngModel)]="registraFormula.compatibilidad" class="form-control" placeholder="Compatibilidad"/>
            <label for="compatibilidad">Compatibilidad</label>
          </div>
          <div class="form-label-group">
            <input type="text" id="operador" class="form-control" placeholder="Operador" 
            name="operador" #operador="ngModel" [(ngModel)]="registraFormula.operador"
            required autofocus="">
            <label for="operador">Operador</label>
          </div>
          <div class="form-group">
            <label>Estatus</label>
              <select class="form-control" name="status" #status="ngModel" [(ngModel)]="registraFormula.status" required>
              <option>Aprobado</option>
              <option>Rechazado</option>
              <option>Pasta</option>
              </select>
          </div>
          <div class="form-group" *ngIf = "registraFormula.status=='Aprobado'">
            <textarea class="form-control" name="comentarios" #comentarios="ngModel" [(ngModel)]="registraFormula.comentario" class="alert alert-success" 
            placeholder="Comentarios" style="margin-top: 0px; height: 255px;"></textarea>
          </div>
          <div class="form-group" *ngIf = "registraFormula.status=='Rechazado'">
            <textarea class="form-control" name="comentarios" #comentarios="ngModel" [(ngModel)]="registraFormula.comentario" class="alert alert-danger" 
            placeholder="Comentarios" style="margin-top: 0px; height: 255px;"></textarea>
          </div>
          <div class="form-group" *ngIf = "registraFormula.status=='Pasta'">
            <textarea class="form-control" name="comentarios" #comentarios="ngModel" [(ngModel)]="registraFormula.comentario" class="alert" 
            placeholder="Comentarios" style="margin-top: 0px; height: 255px;"></textarea>
          </div>
        </div>
      </div>
      <button type="submit" 
      class="btn btn-lg btn-primary btn-block" 
      [disabled]="!registraFormula.lote || !registraFormula.codigo || !registraFormula.status || !registraFormula.comentario"><!--[disabled]="!agregaForm.form.valid"-->
      Hecho
      </button>
    </div>
  </div>
</form>   